/*
* Body Wrapper
*/
.astroid-content {
	&.has-sidebar {
		&.sidebar-dir-left {
			padding-left: $header-sidebar-width;

			@media(max-width: 1600px) {
				padding-left: $header-sidebar-mini-width;
			}

			@media(max-width: 1200px) {
				padding-left: 0;
			}
		}

		&.sidebar-dir-right {
			padding-right: $header-sidebar-width;

			@media(max-width: 1600px) {
				padding-right: $header-sidebar-mini-width;
			}

			@media(max-width: 1200px) {
				padding-right: 0;
			}
		}
	}
}

.astroid-layout{
	&.astroid-layout-boxed {
		.astroid-wrapper {
			max-width: map-get($container-max-widths, "xl") + 100;
		}
	}
}