@import "header";
@import "layouts";
.container, .sppb-row-container, .astroid-layout.astroid-layout-boxed .astroid-wrapper {
  @media (min-width: 1300px){
    max-width: 1280px;
  }
  @media (min-width: 1500px){
    max-width: 1480px;
  }
}

@media (min-width: 960px) {
  .container, .sppb-row-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.top-bar {
  .moduletable {
    margin: 0;
    padding: 0;
  }
}
.astroid-logo-text > a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
#astroid-preloader {
  flex-direction: column;
  justify-content: center;
}
.author-wrap {
  .author-social-links {
    a {
      color: inherit;
      &:hover {
        color: $colorMain;
      }
    }
  }
}
.article-review {
  padding: 0 30px 30px;
}
.item-page {
  .article-review {
    border: 1px solid $border-color;
  }
}
.logo-wrapper {
  a {
    color: inherit;
  }
}
.astroid-banner-inner {
  background-color: transparent;
}
.sk-wave .sk-rect {
  width: 20% !important;
}