@media (max-width: 1200px) {
  .row {
    &.no-gutters {
      margin-right: 0;
      margin-left: 0;
      > .col, > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
.astroid-component-section {
  padding: 0;
  &.content-padding {
    padding: 4.5rem 0;
  }
}
.top-bar .astroid-module-position {
  height: 42px;
  display: flex;
  align-items: center;
  > div+div {
    margin-left: 1.1rem;
  }
}
.jollyany-bottom-section {
  h1,h2,h3,h4,h5,h6 {
    color: inherit;
  }
  .sppb-addon-optin-forms {
    padding: 0;
    .sppb-optin-form-details-wrap:not(:empty) {
      padding-top: 0;
    }
    .sppb-form-control {
      color: inherit;
      background-color: inherit;
      border: 1px solid #343436;
    }
  }
}
.sidebar {
  .moduletable {
    border-bottom: 1px solid $border-color;
    padding: 2rem 0;
    margin: 1rem 0;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
.border-separated {
  > div+div {
    padding-left: 15px;
    border-left: 1px solid $border-color;
  }
  &.border-right {
    >div{
      &:last-child {
        padding-right: 15px;
      }
    }
  }
}
.rtl {
  .top-bar .astroid-module-position {
    > div+div {
      margin-left: 0;
      margin-right: 1.1rem;
    }
  }
}