.sppb-row-container {
  --bs-gutter-x: #{$grid-gutter-width};
  padding-right: calc(.5 * var(--bs-gutter-x));
  padding-left: calc(.5 * var(--bs-gutter-x));
}
.sp-pagebuilder-row, .sppb-row {
  --bs-gutter-x: #{$grid-gutter-width};
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  > * {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
  }
}
.sppb-no-gutter {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.sppb-addon-header, .sppb-addon-text-block {
  .sppb-addon-title{
    >span {
      background-color: $colorMain;
      padding: 6px 12px;
    }
  }
}
.sppb-btn {
  padding-left: 1em;
  padding-right: 1em;
}
.sppb-btn-xlg {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.sppb-btn-primary {
  background-color: $colorMain;
  border-color: $colorMain;
  &:hover {
    background-color: darken($colorMain, 10%);
    border-color: darken($colorMain, 10%);
  }
}
.sppb-addon-tweet {
  .sppb-tweet-slider {
    .sppb-carousel-control {
      display: none;
    }
    a {
      color: inherit;
    }
    .sppb-tweet-text {
      font-size: 1.18rem;
    }
    .sppb-tweet-created {
      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f099';
        margin-right: 5px;
      }
    }
  }
}
.sppb-pricing-box {
  border: 1px solid darken($border-color,5%);
  padding: 65px 20px 30px;
  .sppb-pricing-header .sppb-pricing-title {
    background-color: $colorBlack;
    color: $colorWhite;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid $colorWhite;
  }
}
.sppb-testimonial-pro {
  .sppb-carousel-control {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $colorBlack;
    border-color: $colorBlack;
    color: $colorWhite;
    &.left {
      right: 40px;
    }
    &:hover {
      background-color: $colorMain;
      border-color: $colorMain;
    }
  }
  &.sppb-text-center {
    .sppb-addon-testimonial-pro-footer {
      align-items: center;
    }
  }
  .sppb-addon-testimonial-pro-footer {
    flex-direction: column;
    >img {
      margin-bottom: 1em;
    }
  }
}
.sppb-btn-dark {
  color: $colorWhite !important;
}
.image-layout-preset-style-poster .sppb-addon-image-layout-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.padding-0 {
  .hikashop_products_listing .hikashop_product {
    padding: 0;
  }
}
.sppb-social-follow {
  .sppb-social-items-wrap {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        a {
          color: $colorBlack;
          display: block;
          &:hover {
            color: $colorMain;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
.rtl {
  .sppb-social-follow {
    .sppb-social-items-wrap {
      ul {
        > li{
          &:last-child {
            margin-right: 1rem;
            margin-bottom: 1rem;
          }
          &:first-child {
            margin: 0;
          }
        }
      }
    }
  }
}
.sppb-social-share-style-solid {
  .sppb-social-follow {
    a {
      color: $white !important;
    }
  }
  ul {
    li.sppb-social-share-dribbble a {
      background-color: #e84f89;
    }
    li.sppb-social-share-instagram a {
      background-color: #e40036;
    }
    li.sppb-social-share-youtube a {
      background-color: #fe0000;
    }
    li.sppb-social-share-vimeo a {
      background-color: #1bb6ec;
    }
  }
}
.sppb-progress {
  margin-bottom: 0;
}
.sppb-panel-faq {
  >div.sppb-panel-heading {
    padding-left: 0;
    border-color: $border-color;
  }
  div.sppb-panel-body {
    border-color: $border-color;
  }
}
.sppb-addon-articles{
  .sppb-article-meta {
    i {
      margin-right: 6px;
    }
  }
  .uk-article-meta {
    >span{
      line-height: 1.7;
      &+span {
        &:before {
          content: '-';
          margin: 0 8px;
        }
      }
    }
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
    a {
      color: inherit;
    }
  }
  a.sppb-readmore {
    margin-top: 15px;
    display: inline-block;
  }
  &.list-style {
    .sppb-article-info-wrap {
      h3 {
        font-size: 14px;
        font-family: inherit;
        line-height: inherit;
        font-weight: inherit;
        margin-bottom: 0;
        &:before {
          font-family: "Font Awesome 5 Free";
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          font-weight: 900;
          content: '\f0da';
          margin-right: 9px;
        }
      }
    }
    .sppb-addon-article {
      margin-bottom: 0;
      padding: 7px 0;
    }
  }
  .lead-container {
    position: relative;
    width: 100%;
    height: 100%;
    h3 {
      font-size: 23px;
      a {
        color: $white;
      }
    }
  }
  .sppb-addon-article-lead {
    .sppb-img-responsive {
      margin-bottom: 0;
    }
    .sppb-article-info-wrap {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 20px 25px;
      background-color: rgba(0,0,0,0.5);
    }
  }
  >.flex-row {
    .sppb-addon-article-lead {
      .sppb-article-img-wrap {
        >.sppb-img-responsive {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.sppb-addon-feature {
  .sppb-addon-title {
    a {
      color: inherit;
    }
  }
}
.landing-demos {
  .sppb-addon-content {
    transition: all .2s;
    background-color: $white;
    box-shadow: 0 0 32px rgba(74,74,225,0.09);
    padding: 5px;
    border-radius: 3px;
    .sppb-img-container {
      position: relative;
      >a{
        &:before {
          transition: all .2s;
          content: '';
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 500;
          font-family: "Roboto Condensed";
          color: #fff;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 32px rgba(74,74,225,0.2);
      .sppb-img-container {
        >a {
          &:before {
            content: 'View Demo';
            background-color: #555555;
          }
        }
      }
    }
  }
}
.landing-customizer {
  .sppb-addon-feature {
    .sppb-addon-content {
      transition: all .2s;
      border-radius: 4px;
      box-shadow: 0 0 32px rgba(74,74,225,0.2);
      padding: 18px 20px;
      background-color: $white;
      &:hover {
        box-shadow: 0 0 32px rgba(74,74,225,0.3);
      }
    }
  }
}

.sppb-addon-video-button {
  .video-button {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    > span {
      width: 100%;
      height: 100%;
    }
  }
  .video-button-ripple {
    position: relative;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: transparent;
      transform: translate(-50%, -50%);
      -webkit-animation-delay: .9s;
      animation-delay: .9s;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
      -webkit-animation: video-button-ripple 3s infinite;
      animation: video-button-ripple 3s infinite;
      transition: all .4s ease;
    }
    &:after {
      -webkit-animation-delay: .6s;
      animation-delay: .6s;
    }
  }
}
@-webkit-keyframes video-button-ripple {
  70% {
    -webkit-box-shadow: 0 0 0 1em rgba(255, 255, 255, .2);
    box-shadow: 0 0 0 1em rgba(255, 255, 255, .2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes video-button-ripple {
  70% {
    -webkit-box-shadow: 0 0 0 1em rgba(255, 255, 255, .2);
    box-shadow: 0 0 0 1em rgba(255, 255, 255, .2)
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
  }
}

.sppb-testimonial-carousel {
  .slides {
    position: relative;
    .sppb-slider-item-image {
      width: 100%;
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        padding: 0 55px;
      }
      img {
        width: 100%;
        @media (min-width: map-get($grid-breakpoints, "lg")) {
          box-shadow: -55px 55px 0 rgba(85, 152, 255, 0.1);
          width: auto;
        }
      }
    }
    .sppb-slider-item-inner {
      position: relative;
      background-color: #00256e;
      color: white;
      padding: 40px 50px;
      .quote-icon {
        margin-bottom: 1rem;
        font-size: 30px;
      }
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        position: absolute;
        top: 100%;
        right: 0;
        transform: translateY(-50%);
        width: 70%;
      }
    }
    .flex-control-nav {
      text-align: left;
      bottom: -110px;
      line-height: 1;
      font-size: 1px;
      z-index: 99999;
      margin: 0px -6px;
    }
    .flex-control-paging li a {
      width: 25px;
      height: 2px;
      border-radius: 0;
      &.flex-active {
        background-color: $colorMain;
      }
    }
  }
  ul.owl-carousel {
    padding: 0;
    list-style: none;
    .sppb-slider-item-inner {
      padding: 40px;
    }
  }
}

.landing-benefit {
  .sppb-addon-feature {
    .sppb-media-content {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}
.cta-button {
  div {
    font-size: 19px;
  }
  del {
    font-size: 35px;
    line-height: 1;
    opacity: 0.7;
  }
  strong {
    font-size: 68px;
    line-height: 1;
    font-weight: 700;
    padding-left: 15px;
  }
}

.feature-section {
  .sppb-image-holder {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  &.image-right {
    .row > div:first-child {
      order: 2;
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        order: 0;
      }
    }
  }
}
.sppb-linearicon-inner {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.sppb-linearicon-hover-effect-zoom-in .sppb-linearicon-inner:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.sppb-addon-horizontal-timeline {
  position: relative;
  margin-bottom: 60px;
  .sppb-addon-horizontal-timeline-top-wrapper {
    display: flex;
    align-items: flex-end;
  }
  .timeline-point {
    .timeline-point-content {
      position: relative;
      height: 20px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid #ccc;
        background-color: #fff;
      }
    }
  }
  .timeline-badge-top {
    height: 50px;
    position: relative;
    margin-top: 20px;
    &:before {
      content: '';
      width: 1px;
      background-color: #ccc;
      top: 0;
      bottom: 0;
      left: 50%;
      position: absolute;
    }
  }
  .timeline-badge-bottom {
    height: 50px;
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: '';
      width: 1px;
      background-color: #ccc;
      top: 0;
      bottom: 0;
      left: 50%;
      position: absolute;
    }
  }
  .sppb-addon-horizontal-timeline-line {
    position: relative;
    padding: 40px 0;
    line-height: 1;
    &:before {
      content: '';
      position: absolute;
      height: 2px;
      background-color: #ccc;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100px;
    }
  }
  .tns-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(60px);
    button {
      border: 1px solid #ccc;
      background-color: #ccc;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      margin: 0 8px;
      &.tns-nav-active, &:hover, &:focus {
        border-color: #aaa;
        background-color: #aaa;
        outline: none;
      }
    }
  }
}
.sppb-addon-pie-chart {
  max-width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0;
  border-radius: 50%;
  figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
  }
  span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    border-radius: 0.2em;
    background: currentColor;
  }
}
.tz-slideshow-wrapper {
  .ui-nav-title{
    .ui-nav-title-items {
      position: relative;
      &:before {
        border-top: 1px solid rgba(255,255,255,0.1);
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        left: 15px;
      }
      > li {
        position: relative;
        a{
          text-decoration: none;
          padding-top: 40px;
          padding-bottom: 40px;
          &.uk-active:before {
            content: '';
            top: 0;
            left: 0;
            border-top: 1px solid $colorMain;
            position: absolute;
            right: 0;
          }
          &:after {
            background-color: transparent;
          }
        }
      }
    }
  }
}
.sppb-addon-tzevents-wrapper {
  .event-title {
    margin: 0;
  }
  .tzevents-movement {
    border-top: 1px solid #cccccc;
    padding: 2rem 0;
  }
  .event-header {
    > .sppb-row {
      align-items: center;
      display: flex;
    }
  }
  .sppb-countdown-timer {
    margin-bottom: 4rem;
  }
  .event-description {
    margin-top: 1rem;
  }
}
.ui-social {
  &.magazine {
    .ui-item > a {
      display: block;
      background-color: #f5f5f5;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      span {
        padding: 12px;
      }
      .uk-icon {
        background-color: rgba(0,0,0,0.1);
      }
      .ui-social-title {
        padding: 12px 18px;
      }
    }
  }
}
.uk-social {
  &.magazine {
    .uk-social-item > a {
      display: flex;
      background-color: #f5f5f5;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      > span {
        display: flex;
        flex-wrap: wrap;
        padding: 12px;
      }
      .uk-icon {
        background-color: rgba(0,0,0,0.1);
      }
      .uk-social-title {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
  }
}
.ukimage {
  .ukimage-dark {
    display: none;
  }
}
@include color-mode(dark) {
  .ukimage {
    .ukimage-inner {
      display: none;
    }
    .ukimage-dark {
      display: inline;
    }
  }
}
.ukmarker {
  .uk-marker-image {
    border: 3px solid #333333;
  }
}

.sppb-addon-audio-playlist {
  .jp-audio {
    width: 100%;
  }
  .jp-interface {
    display: flex;
    align-items: center;
    .jp-controls {
      width: 195px;
      padding: 0 20px;
    }
    .jp-progress {
      position: static;
      height: 3px;
    }
  }
  .jp-audio, .jp-audio-stream, .jp-video {
    border: 2px solid $border-color;
    background-color: transparent;
  }
  .jp-details, .jp-playlist {
    border-color: $border-color;
  }
  div.jp-type-playlist div.jp-playlist li {
    padding: 15px 20px;
    border-color: $border-color;
    a {
      font-size: 12px;
      font-weight: 700;
      line-height: 22px;
      &.jp-playlist-current, &:hover {
        color: $colorMain;
      }
    }
    &.jp-playlist-current {
      list-style-type: none;
      list-style-position: inside;
      padding-left: 20px;
      display: flex;
      align-items: center;
      &:after{
        content: '\f028';
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-size: 14px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0,0);
        font-weight: 900;
      }
    }
  }
  .jp-playlist ul {
    padding: 0;
  }
  .jp-controls {
    button {
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-size: 20px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0,0);
      font-weight: 900;
      text-indent: 0;
      line-height: 1;
      background: none !important;
      width: auto;
      color: inherit;
      &.jp-play {
        font-size: 200%;
      }
    }
  }
  .jp-volume-controls {
    position: static;
    display: flex;
    align-items: center;
    width: 145px;
    padding: 0 20px;
    button {
      display: inline-block;
      position: relative;
      font-family: "Font Awesome 5 Free";
      font-size: 14px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0,0);
      font-weight: 900;
      text-indent: 0;
      line-height: 1;
      background: none !important;
      width: auto;
      color: inherit;
    }
  }
  .jp-state-playing {
    .jp-play {
      &:focus {
        &:after {
          content: '\f04c';
        }
      }
      &:after {
        content: '\f04c';
      }
    }
  }
  .jp-play, .jp-next, .jp-previous, .jp-stop {
    &:focus {
      color: $colorMain;
    }
  }
  .jp-play{
    &:after {
      content: '\f04b';
    }
    &:focus {
      &:after {
        content: '\f04b';
      }
    }
  }
  .jp-next {
    &:after {
      content: '\f04e';
    }
  }
  .jp-previous {
    &:after {
      content: '\f04a';
    }

  }
  .jp-stop {
    margin-left: 0;
    &:after {
      content: '\f04d';
    }
  }
  .jp-seek-bar {
    background-image: none;
  }
  .jp-play-bar {
    background-image: none;
    background-color: $colorMain;
  }
  .jp-audio .jp-type-playlist .jp-progress {
    width: calc(100% - 340px);
  }
  .jp-mute {
    &:after {
      content: '\f6a9';
    }
  }
  .jp-volume-max {
    left: 0;
    &:after {
      content: '\f028';
    }
  }
  .jp-volume-bar {
    background-image: none;
    background-color: #ddd;
    position: static;
    top: 6px;
    left: 26px;
    height: 3px;
  }
  .jp-volume-bar-value {
    background-image: none;
    background-color: $colorMain;
  }
  .jp-interface {
    background-color: transparent;
  }
  .jp-playlist {
    background-color: transparent;
    > ul > li {
      display: flex;
      align-items: center;
      margin: 0 !important;
      &:before {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 18px;
        margin-bottom: 0;
        left: 0;
      }
      &.jp-playlist-current {
        &:before {
          color: $colorMain;
        }
      }
      > div {
        display: flex;
        align-items: center;
        flex: 1;
        &:before {
          content: '';
          display: block;
          margin-right: 20px;
        }
        span.jp-artist {
          display: block;
        }
      }
    }
  }
  div.jp-type-playlist div.jp-playlist a {
    color: inherit;
  }
}